- @activities.each do |activity|
  - if current_user
    %p
      = link_to "#{activity.date} #{activity.name}", edit_activity_path(activity)
      = link_to activity, method: :delete, data: {confirm: "確定刪除？"} do
        %i.glyphicon.glyphicon-remove
  - else
    %p= "#{activity.date} #{activity.name}"
